
body{
    background-color:cornflowerblue;
}



.container {
    padding: 5px;
    display: flex;
    background-color: white;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 500px;

    right: 100px;

    position: absolute;
    top:50%;
    left:50%;
    margin:-200px 0 0 -200px;


}




.container div {
    flex: 1 1 auto;
    border: 1px;
    margin: 1px;
    padding: 0;
}




.Welcome{
    flex:1;
    order:0;
}
.Welcome  h2 {
    padding-top: 10%;
    padding-left: 32%;
    
}
.Welcome img {   
    float: left;
    height: 70%;
    width: 25%;

}
.Account{
    flex:1;
    order:1;
}
.Account h3 {
    padding-top: 0%;
}
.name{
    flex:1;
    order:5;

}
.password{
    flex:1;
    order:6;
}
.submit{
    flex:1;
    order:7;
    background-color: cornflowerblue;
    border:none;
    color:white;
    padding:8px 10px;
    font-weight: bold;
    border-radius: 4px;
}

.or{
    flex:1;
    order:3;
}
.Please{
    flex:1;
    order:4;
}
.forgot{
    flex:1;
    order:8;
}
.submit:hover{
    background-color: crimson;
}


